.imageContainer{
  display:flex;
  flex-wrap: wrap;
  
  justify-content: space-around;
  padding: 1px;
  
}

.imagelist{
padding: 10px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 250px;
}
.imagelist img{
   
height:100px;
flex-grow: 1;
flex-shrink: 1;
max-width: 100%;
justify-content: center;
align-items: center;
max-width:100%

   
   
}



